ul
    list-style-type: none
    margin: 0

table
    width: 100%

    ul.tags
        float: right

span.color
    width: 12px
    height: 12px
    border-radius: 50%
    display: block
    float: left

div[data-view="tags"]
    ul
        li
            cursor: pointer

            span.color
                margin: 5px 5px 0 0

            &:not(.active)
                span.color:after
                    content: ""
                    width: 8px
                    height: 8px
                    border-radius: 50%
                    display: block
                    background: #FFF
                    margin: 2px