ul
    list-style-type: none
    margin: 0

table
    width: 100%

    thead
        th[data-sort]
            cursor: pointer

    ul.tags
        float: right

span.color
    width: 12px
    height: 12px
    border-radius: 50%
    display: block
    float: left

div[data-view="tags"]
    dl.sub-nav
        margin: 0

        dt
            margin-left: 0

    ul.side-nav
        li
            cursor: pointer

            span.color
                margin: 5px 5px 0 0

            &:not(.active)
                span.color:after
                    content: ""
                    width: 8px
                    height: 8px
                    border-radius: 50%
                    display: block
                    background: #FFF
                    margin: 2px